@model AutoLot.Models.Entities.Car

@{
    ViewData["Title"] = "RazorSyntax";
}

<hr />
The Car named @Model.PetName is a 
<span style="color:@Model.Color">@Model.Color</span>
@Model.MakeNavigation.Name
<hr />
@* Display templates - Http.DisplayFor() : *@
@Html.DisplayForModel("../Cars/DisplayTemplates/Car.cshtml")
<hr />
@Html.DisplayForModel("../Cars/DisplayTemplates/CarWithColors.cshtml")
<hr />
@Html.EditorForModel("../Cars/EditorTemplates/Car.cshtml")